<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en">
    <link type="text/css" rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title> instaMe"dynamic" </title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div class="navbar-inner">
        <div class="container">
            <div><p id="project_Name">instaMe</p></div>

        </div>
    </div>
</div>

<div class="navbar container" id="my_container">

    <h1>Bootstrap starter template</h1>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>


</div>
</body>
</html>
